input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: table;

  }
  .Input-wrapper {
  width: 900px;

  }
  .Input-wrapper input{
      width: 715px;
      height: 35px;
  }
  .Input-wrapper button{
      width: 30px;
      height: 40px;
  }